*{box-sizing: border-box;}
html, body {
	margin: 0;
	width: 100%;
    height: 100%;
}

.interface_button{
    cursor: pointer;
}

#start_box{
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.6);
}

#start_button{
	width: 11%;
	height: 11%;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
	font-size: 3.3vw;
	opacity: 1;
	border: solid;
	border-radius: 15px;
	word-wrap: break-word;
}

#end_box{
	position: absolute;
	z-index: 11;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.6);
}

#success_box{
	width: 25%;
	height: 40%;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 3.3vw;
	border: solid;
	border-radius: 30px;
	padding-top: 30px;
	background-color: #dddddd;
}

#success_time{
	margin-top:50px;
	font-size: 2.8vw;
}

#restart_button{
	width: auto;
	height: auto;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-50%);
	font-size: 2.8vw;
	opacity: 1;
	border: solid;
	border-radius: 15px;
	word-wrap: break-word;
}

#upper_interface{
	margin-left: auto;
	margin-right: auto;
	width: 540px;
}


#timer_box{
	z-index: 3;
	position: absolute;
	margin-left: 485px;
	top: 165px;
	//transform: translate(-50%,-50%);
}
.timer{
	font-size: 21px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  min-width: 160px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  //left: 36%;
  top: 135px;
  margin-left: 2px;
  display: block;
  z-index: 9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

/* Links inside the dropdown */
.dif_button {
	width: 100%;
	border: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dif_button:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover{
	cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}


#sudoku{
	table-layout: fixed;
	display: block;
	z-index: 1;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
	width: 540px;
	height: 540px;
	margin-top: 200px;
	//position: absolute;
	//left: 50%;
	//top: 45%;
	//transform: translate(-50%,-50%);
}
#sudoku tr{
	height: 100%;
}

#sudoku tr:first-child td{
	border-top-color: black;
}

#sudoku tr:nth-child(3n) td{
	border-bottom-color: black;
}

#sudoku tr td{
	box-sizing: border-box;
	border: 1px solid lightgrey;
	width: 60px;
	text-align: center;
}

#sudoku tr td:first-child{
	border-left-color: black;
}
#sudoku tr td:nth-child(3n){
	border-right-color: black;
}

.myInput {
	border: none;
	text-align: center;
	width: 60px;
	height: 60px;
	padding: 0;
	background-color: #fff;
	display: inline-block;
	font-size: 40px;
}

.mapInput {
	border: none;
	text-align: center;
	width: 60px;
	height: 60px;
	background-color: #fff;
	display: inline-block;
	font-size: 40px;
}
.mapInput:focus {
	box-shadow: none;
}

#keyboard{
	position: absolute;
	display: none;
	z-index: 2;
	border: solid;
	border-radius: 5px;
	background: #ffd;
}

#keyboard tr td{
	width: 45px;
	height: 45px;
}
#keyboard tr td:first-child{
	height: 25px;
}

.numkey{
	width: 99%;
	height: 99%;
	font-size: 30px;
}
#erasekey{
	width: 99%;
	height: 99%;
	font-size: 30px;
}

#memokey{
	width: 99%;
	height: 99%;
	font-size: 20px;
}
.memo_table{
	table-layout: fixed;
	border-collapse: collapse;
	border-style: hidden;
}

.memo_cell{
	height: 20px;
	width: 20px;
	max-height:20px;
	max-width:20px;
	min-height:20px;
	min-width:20px;
	font-size: 15px;
}
